<div id="beginners-course-page-body" class="page-body">
  <h2>Beginners Courses</h2>
  <p><strong>*** Current Course Dates ***</strong></p>

  <p>If you have never tried to shoot a bow but like the idea, there are a number of ways to try it out. We do run occasional Have-a-go sessions but by far the best way to learn is through a structured beginners course.</p>

  <p>Our beginners courses are built around an approved Archery GB framework and provide eight (8) hours of tuition with full insurance and all equipment provided. The course is delivered by qualified coaches.</p>

  <p>Archery is an inclusive sport open to people of all backgrounds and abilities There is no upper age limit and people shoot well into their seventies and beyond.  We do, however, have some restrictions on children and normally consider those from eight (8) years of age onwards.</p>

  <p>If you are interested, please email your details to <%= mail_to 'DVAC-beginners@outlook.com' %> saying which course you would prefer. Include your name, age and whether you are right or left handed.</p>

  <p>If we can offer you a place an application form will be sent via email along with directions and details of the course fee and preferred payment method.</p>
</div>
