<div id="club-information-page-body" class="page-body">
  <h2>History of the Club</h2>
  <p>Dearne Valley Archery Club was founded in 1957 by captain V W York of Wombwell, along with his daughter and son-in-law, Shirley and Des Carr. The first members, who also played a major part in building the club were John Seddon, Rex Billington, Des Askin and his wife, Abbey Spooner and David Mallinder. Mention must also be made of two other stalwarts of the club; Albert and Joyce Kiddy.</p>
  <p>With dedication and enthusiasm the club prospered over the next few years and some of the members started to win first local, then county and finally national competitions. </p>
  <p>John, Albert and Joyce all experienced international success over the next few years including competing at World and European Field Championships from 1969 to 1980. </p>
  <p>Through the years the club has had 10 different members represent Great Britain in Field Archery which leaves us in joint 1st place in the GNAS Field honours board for the most club members to represent GB. Also on the honours board, DVAC is in 1st place for the most members of one family from one club to represent GB in Field Archery.</p>
  <p>Since 1968 DVAC have hosted competitions for people around the UK to enter and take part, particularly for Field Archery. The competitions we host are ‘record status’ and ‘team selection’ shoots that are held every year and are very well known to the field archers around the UK. The two primary shoots we host one at Easter and the Yorkshire Field Championships in September. These are seen as very important for people trying to get scores to represent GB.</p>
  <p>In 2012 the club produced our first Olympian who shot for Team GB in the London Olympics. They then went on to become European Field Champion in 2017. The club now has a very promising up and coming archer, who has already represented GB in the European and World Championships. In fact, at the time of writing, she has become Senior Lady British Field Champion for the second year running...</p>
  <p>These archers, like all of us, began their shooting careers as novices. With some skill and a lot of determination it shows what you can do in the sport of archery.</p>
  <p><i>This is an extract from the DVAC New Members Handbook.</i></p>
</div>
