<div id="contacts-page-body" class="page-body">
  <h2>Contacts</h2>
  <p>Beginners Courses  email to <%= mail_to 'DVAC-beginners@outlook.com' %></p>
  <p>Club Information email to <%= mail_to 'dvac-archery@outlook.com' %> </p>
  <p><%= link_to 'Dearne Valley Field Archery', 'https://dearnevalleyfac.webador.co.uk/' %></p>
</div>
