<div id="course-dates-page-body" class="page-body">
  <p><strong>Planned Beginners Courses</strong></p>

  <p>Autumn and Winter courses to be confirmed</p>

  <p><strong>***All have an optional 2 hour 5th session of field archery at the woods available.***</strong></p>

  <p>For further information: <%= link_to 'Beginners Courses', beginners_course_path %></p>
</div>
