<%= render "shared/carousel" %>
<div id="home-page-body" class="page-body">
  <h2>Welcome to Dearne Valley Archery Club</h2>
  <p>Welcome to our website; we hope you find the information here interesting.</p>
  <p>We are a friendly club rooted firmly in the Dearne Valley of South Yorkshire. We have been in existence for over 60 years with an excellent record of achievements from members at local, national and international levels. More details can be found in the Club History page of this site.</p>
  <p>Membership of the club is open to people of all backgrounds and abilities and there is no upper age limit; people shoot well into their seventies and beyond.  We do, however, have some restrictions on children, normally restricting to those aged around 8.</p>
  <p>Members shoot a wide range of bow types including longbow, American Flatbow, Olympic Recurve and Compound, and shoot without sights (barebow) or with sights (freestyle); each to their own.</p>
  <p>In addition to standard target archery, where arrows are shot at targets on a flat field the club also offers field archery, shot at mixed distances in a woodland setting at our course near Wakefield.  The club is well know nationally for our field Competitions and Open Days.</p>
  <p>In 2020 our sister club, Dearne Valley Field Archery Club (DVFAC) was formed; Affiliated to the National field Archery Society (NFAS), the club aims to provide a different experience to Archery GB field archery, still utilising our field course but shooting 2D and 3D animal targets. All targets are at unmarked distances. For more information about DVFAC please visit</p>
  <p>On the website you will find information on DVAC, including history, tournament information, photographs and useful links to other archery related website.</p>
  <p>Please feel free to look around...</p>
</div>
