<div id="membership-page-body" class="page-body">
  <h2>DVAC Membership</h2>
  <p>Dearne Valley Archery Club offers two types of membership; Full and Associate. The membership fees are identical for both types, the only difference is that Associate members have no voting rights at the Club’s AGM.</p>

  <p>Applications for membership is normally offered after the successful completion of an approved beginners course. This can either be through a course run by one of our Archery GB (AGB) qualified coaches or one run at another club provided that you have a signed Certificate of Completion from them.</p>

  <p>We will also consider requests for membership from experienced archers on the proviso that they are able to demonstrate their proficiency and ability to shoot safely to one of our coaches at a Club Night.</p>

  <p>A membership application form will be handed to those completing a beginners course with the club but one can also be requested by contacting the club via email at <%= mail_to 'dvac-archery@outlook.com' %></p>

  <p>The membership year runs from 1st January to 31st December and the current fees are £100 pa for Seniors (over 18) and £40 for Juniors. These fees are in addition to AGB membership fees which is compulsory. You cannot be a member of DVAC without also being a member of AGB.</p>
</div>
