<div id="prospectus-page-body" class="page-body">
  <h2>Course prospectus</h2>

  <p>The course is broken down into a number of sessions covering the following topics:-</p>

  <ul>
    <li>Range layout and safety protocols</li>
    <li>Eye dominance and handedness</li>
    <li>The archers equipment; bow, arrows, armguard, finger tab</li>
    <li>Bow length</li>
    <li>Arrow length</li>
    <li>Draw length</li>
    <li>Hand positions on the bow and on the string</li>
    <li>The archers stance and drawing the bow</li>
    <li>The anchor</li>
    <li>Aiming</li>
    <li>The loose and follow through.</li>
  </ul>

  <p>In all this there will be plenty of time to put into practice what you have learned.</p>

  <p>During the summer months the course will generally be delivered outdoors at our range at Hickleton, weather permitting. Through Autumn and Winter we move indoors and courses will be delivered at Wath Academy in Wath on Dearne.</p>

  <p>At successfully completing your course you will be presented with a certificate that will then allow you, if you choose, to apply for membership of DVAC or other club of your choice.</p>

  <p>Having completed your beginners course, and because Dearne Valley Archery Club is known nationally as a Field Archery club, you will be given the opportunity to visit our Field Archery range and experience field archery. You will be guided through the differences between target and field archery and will then be able to shoot some of the course, under close supervision.</p>

  <p>For further information please contact: <%= mail_to 'DVAC-beginners@outlook.com' %> or <%= link_to 'Facebook', 'http://www.facebook.com/DearneValleyArchery', target: "_blank" %></p>
</div>
