<div id="shooting-venues-page-body" class="page-body">
  <h2>Shooting Venues</h2>
  <p><strong>Target Range - Outdoors</strong></p>

  <p>The club’s outdoor venue for the summer season, from around April to late September, is at Hickleton Harriers Junior Football Club’s ground. Club nights are Tuesdays and Thursdays from 5.00pm until dark and Saturday and Sunday afternoons.</p>

  <p><strong>Directions</strong></p>

  <p>Situated off the A635 just outside the village of Hickleton. Travelling towards Doncaster from Barnsley take the right turn at the crossroads just outside the village. The entrance is on the left through the first farm gate. The field is approx 250 yards down the track on the left hand side through gates marked Hickleton Harriers. Nearest postcode for SatNav is DN5 7AZ.</p>

  <p><strong>Target Range - Indoors (2022-23)</strong></p>

  <p>During the winter season, from approx October to late March, we use the sports hall at Clifton Community School, Cranworth Lane, Eastwood, Rotherham. Club nights are Monday and Friday evenings from 7.00pm until 9.00pm.</p>

  <p><strong>Directions</strong></p>

  <p>The postcode is S65 1LN.</p>

  <p><strong>Field Course</strong></p>

  <p>The club has its own field course at Savin Royd Woods just outside Haigh, on the Barnsley / Wakefield boundary.</p>

  <p><strong>Directions</strong></p>

  <p>From the M1 Northbound, leave at Junction 38 and take the 3rd exit into Haigh village. Go through the village and the site entrance is on your left through a farm gate. Nearest postcode for SatNav is S75 4DA.</p>
</div>
