<div id="jsn-page" class="container">
	<div id="jsn-page-inner">
		<div id="jsn-header">
			<div id="jsn-logo" class="pull-left">
				<a href="/2014-06/index.php" title=""><img src="/2014-06/images/headers/Header-2cm-v2.png" alt="" id="jsn-logo-desktop" data-pagespeed-url-hash="1241777014" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>				</div>
				  <div id="jsn-headerright" class="pull-right">
							<div id="jsn-pos-top" class="pull-left">
						<div class=" jsn-modulecontainer"><div class="jsn-modulecontainer_inner"><div class="jsn-modulecontent"><div class="nsb_container"><a id="l1" class="icons" target="_blank" href="http://www.facebook.com/DearneValleyArchery"><img title="Facebook" src="/2014-06/modules/mod_nice_social_bookmark/icons/facebook_aqu_32.png" alt="Facebook" data-pagespeed-url-hash="2567081126" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a></div><div style="clear:both;"></div><div class="clearbreak"></div></div></div></div>
						<div class="clearbreak"></div>
					</div>
								</div>
				<div class="clearbreak"></div>
			</div>
			<div id="jsn-body">
							<div id="jsn-menu">
									<div id="jsn-pos-mainmenu">
						<div class=" jsn-modulecontainer"><div class="jsn-modulecontainer_inner"><div class="jsn-modulecontent">
<ul class="menu-mainmenu">
<li class="current active parent first"><a class="current" href="/2014-06/index.php">
	<span>
		Home	</span>
</a><ul class="jsn-submenu-level-1" style=""><li class="first last"><a href="/2014-06/index.php/home/contacts">
	<span>
		Contacts	</span>
</a></li></ul></li><li class="parent"><a href="/2014-06/index.php/club-information">
	<span>
		Club Information	</span>
</a><ul class="jsn-submenu-level-1" style=""><li class="first"><a href="/2014-06/index.php/club-information/2014-06-15-12-01-27">
	<span>
		Club History	</span>
</a></li><li class="parent"><a href="/2014-06/index.php/club-information/honours-board">
	<span>
		Honours Board	</span>
</a><ul class="jsn-submenu-level-2" style=""><li class="first"><a href="/2014-06/index.php/club-information/honours-board/international-appearances-team-gb">
	<span>
		International Appearances - Team GB	</span>
</a></li><li><a href="/2014-06/index.php/club-information/honours-board/british">
	<span>
		British	</span>
</a></li><li><a href="/2014-06/index.php/club-information/honours-board/county">
	<span>
		County	</span>
</a></li><li><a href="/2014-06/index.php/club-information/honours-board/county-team">
	<span>
		County Team	</span>
</a></li><li><a href="/2014-06/index.php/club-information/honours-board/english-champions">
	<span>
		English	</span>
</a></li><li class="last"><a href="/2014-06/index.php/club-information/honours-board/northern-counties">
	<span>
		Northern Counties	</span>
</a></li></ul></li><li><a href="/2014-06/index.php/club-information/membership">
	<span>
		Membership	</span>
</a></li><li class="last">		<a class="" href="https://www.facebook.com/DearneValleyArchery/photos_stream?tab=photos_albums" target="_blank">
			<span>
			Facebook Pics			</span>
		</a>
</li></ul></li><li><a href="/2014-06/index.php/events-calendar/year.listevents/2024/03/04/-">
	<span>
		Events Calendar	</span>
</a></li><li class="parent"><a href="/2014-06/index.php/shoot-info">
	<span>
		Shoot Info	</span>
</a><ul class="jsn-submenu-level-1" style=""><li class="first"><a href="/2014-06/index.php/shoot-info/entry-forms">
	<span>
		Entry Forms	</span>
</a></li><li class="last"><a href="/2014-06/index.php/shoot-info/results">
	<span>
		Results	</span>
</a></li></ul></li><li><a href="/2014-06/index.php/auto-generate-from-title">
	<span>
		Useful Links	</span>
</a></li><li><a href="/2014-06/index.php/shooting-venues">
	<span>
		Shooting Venues	</span>
</a></li><li class="parent"><a href="/2014-06/index.php/beginners-course">
	<span>
		Beginners Course	</span>
</a><ul class="jsn-submenu-level-1" style=""><li class="first"><a href="/2014-06/index.php/beginners-course/prospectus">
	<span>
		Prospectus	</span>
</a></li><li class="last"><a href="/2014-06/index.php/beginners-course/course-dates">
	<span>
		Course Dates	</span>
</a></li></ul></li></ul><div class="clearbreak"></div></div></div></div>
					</div>
					            <div class="clearbreak"></div>
				</div>
							<div id="jsn-content-top" class="">
					<div id="jsn-promo" class="row-fluid">
					                    <div id="jsn-pos-promo" class="span12 order1 ">
	                        <div class=" jsn-modulecontainer"><div class="jsn-modulecontainer_inner"><div><div><div class="jsn-modulecontent">

<div style="border: 0px !important;">
    <div id="djslider-loader94" class="djslider-loader djslider-loader-default" tabindex="0" style="background: none;">
        <div id="djslider94" class="djslider djslider-default" style="height: 152.344px; width: 585px; max-width: 960px !important; opacity: 1;">
            <div id="slider-container94" class="slider-container">
                <ul id="slider94" class="djslider-in" style="position: relative; width: 585px;">
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 1; visibility: visible; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="0">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/1.jpg" alt="1.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="793110134" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/2.5.jpg" alt="2.5.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="4266318358" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/2.jpg" alt="2.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="1087610055" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/3.5.jpg" alt="3.5.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="3002955247" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/3.jpg" alt="3.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="1382109976" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/4.5.jpg" alt="4.5.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="1739592136" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                            <li style="margin: 0px !important; height: 152.344px; width: 585px; position: absolute; top: 0px; left: 0px; opacity: 0; visibility: hidden; transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;">
                                                                                                <a href="http://dvac-archery.org.uk/2014-06/" target="_blank" tabindex="-1">
                                                                <img class="dj-image" src="/2014-06/images/slideshow/4.jpg" alt="4.jpg" style="width: 100%; height: auto;" data-pagespeed-url-hash="1676609897" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                                    </a>

                        </li>
                                    </ul>
            </div>
                                </div>
    </div>
</div>
<div class="djslider-end" style="clear: both" tabindex="0"></div><div class="clearbreak"></div></div></div></div></div></div>
	                    </div>
										<div class="clearbreak"></div>
					</div>
								</div>
							<div id="jsn-content" class="">
					<div id="jsn-content_inner"><div id="jsn-content_inner1"><div id="jsn-content_inner2"><div id="jsn-content_inner3"><div id="jsn-content_inner4"><div id="jsn-content_inner5"><div id="jsn-content_inner6"><div id="jsn-content_inner7" class="row-fluid">
								<div id="jsn-maincontent" class="span12 order1  row-fluid">
						<div id="jsn-maincontent_inner"><div id="jsn-maincontent_inner1"><div id="jsn-maincontent_inner2"><div id="jsn-maincontent_inner3"><div id="jsn-maincontent_inner4">
										<div id="jsn-centercol" class="span12 order1 "><div id="jsn-centercol_inner">
											<div id="jsn-pos-user-top" class="jsn-modulescontainer jsn-horizontallayout jsn-modulescontainer1 row-fluid">
										<div class=" jsn-modulecontainer span12"><div class="jsn-modulecontainer_inner"><div><div><div class="jsn-modulecontent">
<div class="article_anywhere">











            <p><a href="/2014-06/index.php">Home</a></p>
<section>
<article style="text-align: justify; color: #000000; letter-spacing: normal; word-spacing: normal;">
<p><span style="font-size: 14pt; color: #198ac2;">Welcome to Dearne Valley Archery Club</span></p>
<p>Welcome to our website; we hope you find the information here interesting.</p>
<p>We are a friendly club rooted firmly in the Dearne Valley of South Yorkshire. We have been in existence for over 60 years with an excellent record of achievements from members&nbsp;at local, national and international levels. More details can be found in the Club History page of this site.</p>
<p>Membership of the club is open to people of all backgrounds and abilities and there is no upper age limit; people shoot well into their seventies and beyond.&nbsp; We do, however, have some restrictions on children, normally restricting to those aged around 8.</p>
<p>Members shoot a wide range of bow types including longbow, American Flatbow, Olympic Recurve and Compound, and shoot without sights (barebow) or with sights (freestyle); each to their own.&nbsp;</p>
<p>In addition to standard target archery, where arrows are shot at targets on a flat field the club also offers field archery, shot at mixed distances in a woodland setting at our course near Wakefield.<span class="Apple-converted-space">&nbsp; </span>The club is well know nationally for our field Competitions and Open Days.<span class="Apple-converted-space">&nbsp; &nbsp;</span></p>
<p>In 2020 our sister club, Dearne Valley Field Archery Club (DVFAC) was formed; Affiliated to the National field Archery Society (NFAS), the club aims to provide a different experience to Archery GB field archery, still utilising our field course but shooting 2D and 3D animal targets. All targets are at unmarked distances. For more information about DVFAC please visit&nbsp;</p>
<p><a href="https://dearnevalleyfac.webador.co.uk/"></a></p>
<p>&nbsp;</p>
<p>On&nbsp;the website you will find information on DVAC, including history, tournament information, photographs and useful links to other archery related website.</p>
<p>Please feel free to look around...</p>
</article>
</section>
        </div><div class="clearbreak"></div></div></div></div></div></div>
									</div>
											<div id="jsn-mainbody-content" class=" jsn-hasmainbodytop jsn-hasmainbody">
													<div id="jsn-pos-mainbody-top" class="jsn-modulescontainer jsn-horizontallayout jsn-modulescontainer1 row-fluid">
											<div class=" jsn-modulecontainer span12"><div class="jsn-modulecontainer_inner"><div><div><div class="jsn-modulecontent"><div class="clearbreak"></div></div></div></div></div></div>
										</div>
													<div id="jsn-mainbody">
											<div id="system-message-container">
	</div>

											<div class="blog-featured" itemscope="" itemtype="http://schema.org/Blog">

<div class="items-leading clearfix">
			<div class="leading-0 clearfix" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">




 <h2>&nbsp;Planned Beginners Courses</h2>
<p>Autumn and Winter causes to be confirmed&nbsp;</p>
<p>***All have an optional 2 hour 5th session of field archery at the woods available.***</p>
<p>&nbsp;</p>
<p>For further information:&nbsp;&nbsp;<a href="/2014-06/index.php/beginners-course">Beginners Courses</a></p>
<meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="/2014-06/index.php/beginners-course/course-dates" content="">



		</div>
			</div>



</div>

										</div>
												</div>
				        				</div></div> <!-- end centercol -->
	        					</div></div></div></div></div></div> <!-- end jsn-maincontent -->
				                </div></div></div></div></div></div></div></div>
	            </div>
							<div id="jsn-content-bottom">
									<div id="jsn-usermodules3" class="jsn-modulescontainer jsn-modulescontainer2 row-fluid">
										<div id="jsn-pos-user5" class="span6 order1 ">
							<div class=" jsn-modulecontainer"><div class="jsn-modulecontainer_inner"><div><div><h3 class="jsn-moduletitle"><span class="jsn-moduleicon">Visitors</span></h3><div class="jsn-modulecontent"><!-- VCNT - Visitorcounter for Joomla! 3.x - Kubik-Rubik Joomla! Extensions - Viktor Vogel --><div class="visitorcounter ">
                        <p>
                Today                <span class="floatright">32</span>
            </p>
                                            <p>
                Month                <span class="floatright">218</span>
            </p>
                            <p>
                All                <span class="floatright">164698</span>
            </p>
                                <p class="small">
            <a href="http://joomla-extensions.kubik-rubik.de/" target="_blank" title="VCNT - Visitorcounter - Joomla! 3 - Kubik-Rubik Joomla! Extensions">Kubik-Rubik Joomla! Extensions</a>
        </p>
    </div><div class="clearbreak"></div></div></div></div></div></div>
						</div>
															<div id="jsn-pos-user7" class="span6 order2 ">
							<div class=" jsn-modulecontainer"><div class="jsn-modulecontainer_inner"><div><div><h3 class="jsn-moduletitle"><span class="jsn-moduleicon">Login Form</span></h3><div class="jsn-modulecontent"><form action="/2014-06/index.php" method="post" id="login-form" class="form-inline">
		<div class="userdata">
		<div id="form-login-username" class="control-group">
			<div class="controls">
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-user tip" title="Username"></i><label for="modlgn-username" class="element-invisible">Username</label></span><input id="modlgn-username" type="text" name="username" class="input-small" tabindex="1" size="18" placeholder="Username"><a href="/2014-06/index.php/component/users/?view=remind&amp;Itemid=101" class="btn hasTooltip" title="Forgot your username?"><i class="icon-question-sign"></i></a>
				</div>
			</div>
		</div>
		<div id="form-login-password" class="control-group">
			<div class="controls">
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-lock tip" title="Password"></i><label for="modlgn-passwd" class="element-invisible">Password</label></span><input id="modlgn-passwd" type="password" name="password" class="input-small" tabindex="2" size="18" placeholder="Password"><a href="/2014-06/index.php/component/users/?view=reset&amp;Itemid=101" class="btn hasTooltip" title="Forgot your password?"><i class="icon-question-sign"></i></a>
				</div>
			</div>
		</div>


				<div id="form-login-remember" class="control-group checkbox">
			<label for="modlgn-remember" class="control-label">Remember Me</label> <input id="modlgn-remember" type="checkbox" name="remember" class="inputbox" value="yes">
		</div>
				<div id="form-login-submit" class="control-group">
			<div class="controls">
				<button type="submit" tabindex="3" name="Submit" class="btn btn-primary btn">Log in</button>
			</div>
		</div>
				<input type="hidden" name="option" value="com_users">
		<input type="hidden" name="task" value="user.login">
		<input type="hidden" name="return" value="aHR0cHM6Ly9kdmFjLWFyY2hlcnkub3JnLnVrLzIwMTQtMDYvaW5kZXgucGhw">
		<input type="hidden" name="a8360cbad3463d79ecc3e529a2fe8473" value="1">	</div>
	</form>
<div class="clearbreak"></div></div></div></div></div></div>
						</div>
														</div>
					            </div>
						</div>
					</div>
	</div>
	<div id="jsn-brand">JSN Epic is designed by <a href="https://www.joomlashine.com" title="JoomlaShine is the best Joomla templates &amp; extension provider" rel="nofollow" target="_blank">JoomlaShine.com</a></div>


<div id="sbox-overlay" aria-hidden="true" style="z-index: 65555; opacity: 0;" tabindex="-1"></div><div id="sbox-window" role="dialog" aria-hidden="true" style="z-index: 65557;" class="shadow"><div id="sbox-content" style="opacity: 0;"></div><a id="sbox-btn-close" href="#" role="button" aria-controls="sbox-window"></a></div>
