<table>
  <tr>
    <th>Archer</th>
    <th>Discipline</th>
    <th>Category</th>
    <th>Year</th>
  </tr>
  <tr>
    <td>Amy Oliver</td>
    <td>Field</td>
    <td>Senior Recurve</td>
    <td>2007</td>
  </tr>
  <tr>
    <td>Michelle Kiddy</td>
    <td>Field</td>
    <td>Senior Recurve</td>
    <td>2010</td>
  </tr>
  <tr>
    <td rowspan="3">Megan Tinker</td>
    <td rowspan="3">Field</td>
    <td>U18 Recurve</td>
    <td>2015</td>
  </tr>
  <tr>
    <td rowspan="2">Senior Recurve</td>
    <td>2018</td>
  </tr>
  <tr>
    <td>2019</td>
  </tr>
</table>
