<table>
<tbody>
<tr>
<td><strong>Archer</strong></td>
<td><strong>Discipline</strong></td>
<td><strong>Category</strong></td>
<td><strong>Year</strong></td>
</tr>
<tr>
<td>Alyssa Barraclough</td>
<td>Field</td>
<td>U15 Red Peg</td>
<td>2016</td>
</tr>
<tr>
<td>Kyle Calder</td>
<td>Field</td>
<td>U18 Blue Peg</td>
<td>2010</td>
</tr>
<tr>
<td rowspan="2">Emma Rose Culshaw</td>
<td rowspan="2">Field</td>
<td rowspan="2">U15 Blue Peg</td>
<td>2016</td>
</tr>
<tr>
<td>2017</td>
</tr>
<tr>
<td>Steve Day</td>
<td>Field</td>
<td>Senior Longbow</td>
<td>2008</td>
</tr>
<tr>
<td>Carl Gray</td>
<td>Field</td>
<td>Senior Recurve</td>
<td>2016</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Target Outdoor</td>
<td>U16 Recurve</td>
<td>2007</td>
</tr>
<tr>
<td rowspan="7">Ruby Hancock</td>
<td rowspan="2">Field</td>
<td rowspan="2">U18 Red Peg</td>
<td>2008</td>
</tr>
<tr>
<td>2009</td>
</tr>
<tr>
<td rowspan="3">Target Outdoor</td>
<td>U16 Recurve</td>
<td>2007</td>
</tr>
<tr>
<td rowspan="2">U18 Recurve</td>
<td>2008</td>
</tr>
<tr>
<td>2009</td>
</tr>
<tr>
<td rowspan="2">Target Indoor</td>
<td>U16 Recurve</td>
<td>2007</td>
</tr>
<tr>
<td>U18 Recurve</td>
<td>2009</td>
</tr>
<tr>
<td rowspan="2">Chris Holmes</td>
<td rowspan="2">Field</td>
<td>U15 Blue Peg</td>
<td>2010</td>
</tr>
<tr>
<td>U12 Longbow</td>
<td>2008</td>
</tr>
<tr>
<td rowspan="4">Albert Kiddy</td>
<td rowspan="4">Field</td>
<td rowspan="4">Senior Recurve</td>
<td>1975</td>
</tr>
<tr>
<td>1976</td>
</tr>
<tr>
<td>1978</td>
</tr>
<tr>
<td>1980</td>
</tr>
<tr>
<td rowspan="9">Michelle Kiddy</td>
<td>Target Outdoor</td>
<td>Senior Recurve</td>
<td>2014</td>
</tr>
<tr>
<td rowspan="2">Target Indoor</td>
<td rowspan="2">Senior Recurve</td>
<td>2002</td>
</tr>
<tr>
<td>2007</td>
</tr>
<tr>
<td rowspan="6">Field</td>
<td rowspan="6">Senior Recurve</td>
<td>2009</td>
</tr>
<tr>
<td>2010</td>
</tr>
<tr>
<td>2011</td>
</tr>
<tr>
<td>2012</td>
</tr>
<tr>
<td>2013</td>
</tr>
<tr>
<td>2017</td>
</tr>
<tr>
<td rowspan="11">Amy Oliver</td>
<td rowspan="7">Target Indoor</td>
<td rowspan="7">Senior Recurve</td>
<td>2010</td>
</tr>
<tr>
<td>2011</td>
</tr>
<tr>
<td>2012</td>
</tr>
<tr>
<td>2013</td>
</tr>
<tr>
<td>2014</td>
</tr>
<tr>
<td>2015</td>
</tr>
<tr>
<td>2016</td>
</tr>
<tr>
<td rowspan="4">Field</td>
<td rowspan="4">Senior Recurve</td>
<td>2008</td>
</tr>
<tr>
<td>2014</td>
</tr>
<tr>
<td>2015</td>
</tr>
<tr>
<td>2016</td>
</tr>
<tr>
<td rowspan="4">Lynda Oliver</td>
<td rowspan="4">Field</td>
<td rowspan="4">Senior Compound UL</td>
<td>2009</td>
</tr>
<tr>
<td>2010</td>
</tr>
<tr>
<td>2012</td>
</tr>
<tr>
<td>2013</td>
</tr>
<tr>
<td>Neil Oliver</td>
<td>Field</td>
<td>Senior Recurve</td>
<td>1993</td>
</tr>
<tr>
<td>Robert Prince</td>
<td>Field</td>
<td>Senior Recurve</td>
<td>2017</td>
</tr>
<tr>
<td>Holly Poppleton</td>
<td>Targer Outdoor</td>
<td>U14 Recurve</td>
<td>2013</td>
</tr>
<tr>
<td rowspan="4">Megan Tinker</td>
<td rowspan="2">Target Outdoor</td>
<td>U16 Recurve</td>
<td>2015</td>
</tr>
<tr>
<td>Senior Recurve</td>
<td>2018</td>
</tr>
<tr>
<td rowspan="2">Field</td>
<td rowspan="2">U15 Blue Peg</td>
<td>2014</td>
</tr>
<tr>
<td>2015</td>
</tr>
<tr>
<td>Melissa Tinker</td>
<td>Target Outdoor</td>
<td>Senior Novice Recurve</td>
<td>2014</td>
</tr>
<tr>
<td>Jake Webster</td>
<td>Field</td>
<td>U18 Red Peg</td>
<td>2014</td>
</tr>
<tr>
<td rowspan="8">John Yates</td>
<td rowspan="8">Field</td>
<td rowspan="8">Senior Recurve</td>
<td>1994</td>
</tr>
<tr>
<td>1995</td>
</tr>
<tr>
<td>1996</td>
</tr>
<tr>
<td>2008</td>
</tr>
<tr>
<td>2009</td>
</tr>
<tr>
<td>2012</td>
</tr>
<tr>
<td>2014</td>
</tr>
<tr>
<td>2015</td>
</tr>
<tr>
<td>Owen Wildin</td>
<td>Target Outdoor</td>
<td>U18 Recurve</td>
<td>2016</td>
</tr>
</tbody>
</table>

<h2 style="text-align: center">Yorkshire Team Champions</h2>
<table>
<tbody>
<tr>
<td><strong>Title</strong></td>
<td><strong>Year</strong></td>
<td><strong>Members</strong></td>
</tr>
<tr>
<td rowspan="3">Indoor</td>
<td>2008</td>
<td>
<p>Michelle Kiddy</p>
<p>Amy Oliver</p>
<p>John Yates</p>
<p>Mick Winsett</p>
</td>
</tr>
<tr>
<td>2015</td>
<td>
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
<p>Lynda Oliver</p>
<p>Scott Webster</p>
</td>
</tr>
<tr>
<td>2016</td>
<td>
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
<p>Mark Tinker</p>
<p>Scott Webster</p>
</td>
</tr>
<tr>
<td>Jack and Jill Indoor</td>
<td>2015</td>
<td>
<p>Mark Tinker</p>
<p>Melissa Tinker</p>
</td>
</tr>
<tr>
<td>Outdoor</td>
<td>2007</td>
<td>
<p>Michelle Kiddy</p>
<p>Jane Brenchley</p>
</td>
</tr>
</tbody>
</table>
