<table>
<tbody>
<tr>
<td><strong>Archer</strong></td>
<td><strong>Event</strong></td>
<td><strong>Year</strong></td>
</tr>
<tr>
<td>Alyssa Barraclough</td>
<td>Junior Intercounties</td>
<td>2016</td>
</tr>
<tr>
<td>Emma Rose Culshaw</td>
<td>Junior Intercounties</td>
<td>2016</td>
</tr>
<tr>
<td rowspan="2">Luca Jaques</td>
<td rowspan="2">Junior Intercounties</td>
<td>2016</td>
</tr>
<tr>
<td>2017</td>
</tr>
<tr>
<td rowspan="9">Michelle Kiddy</td>
<td rowspan="7">Senior Intercounties</td>
<td>2005</td>
</tr>
<tr>
<td>2007</td>
</tr>
<tr>
<td>2008</td>
</tr>
<tr>
<td>2009</td>
</tr>
<tr>
<td>2010</td>
</tr>
<tr>
<td>2013</td>
</tr>
<tr>
<td>2015</td>
</tr>
<tr>
<td rowspan="2">National County Team</td>
<td>2014</td>
</tr>
<tr>
<td>2016</td>
</tr>
<tr>
<td rowspan="5">Amy Oliver</td>
<td rowspan="4">Senior Intercounties</td>
<td>2005</td>
</tr>
<tr>
<td>2007</td>
</tr>
<tr>
<td>2008</td>
</tr>
<tr>
<td>2009</td>
</tr>
<tr>
<td>National County Team</td>
<td>2014</td>
</tr>
<tr>
<td rowspan="3">Lynda Oliver</td>
<td rowspan="2">Senior Intercounties</td>
<td>2009</td>
</tr>
<tr>
<td>2010</td>
</tr>
<tr>
<td>National County Team</td>
<td>2014</td>
</tr>
<tr>
<td rowspan="6">Megan Tinker</td>
<td>Junior Intercounties</td>
<td>2014</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>2015</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>2016</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>2017</td>
</tr>
<tr>
<td>National County Team</td>
<td>2017</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>2018</td>
</tr>
</tbody>
</table>
