<table>
<tbody>
<tr>
<td><strong>Archer</strong></td>
<td><strong>Discipline&nbsp;</strong></td>
<td><strong>Category&nbsp;</strong></td>
<td><strong>Year&nbsp;</strong></td>
</tr>
<tr>
<td>&nbsp;Michelle Kiddy</td>
<td>&nbsp;Field</td>
<td>Senior Recurve</td>
<td>&nbsp;2013</td>
</tr>
<tr>
<td>&nbsp;Amy Oliver</td>
<td>Field</td>
<td>Senior Recurve</td>
<td>2019</td>
</tr>
<tr>
<td rowspan="3">&nbsp;Megan Tinker&nbsp;&nbsp;</td>
<td>Target Outdoor</td>
<td>U18 Recurve</td>
<td>2016</td>
</tr>
<tr>
<td rowspan="2">&nbsp;Field&nbsp;</td>
<td>&nbsp;U18 recurve</td>
<td>&nbsp;2016</td>
</tr>
<tr>
<td>&nbsp;Senior Recurve</td>
<td>2018</td>
</tr>
</tbody>
</table>
