<table>
<tbody>
<tr style="border: 1px solid #000000;">
<td colspan="4" style="border: 1px solid #000000;"><strong>NCAS Individual Champions</strong></td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">Archer</td>
<td style="border: 1px solid #000000;">Title</td>
<td style="border: 1px solid #000000;">Category</td>
<td style="border: 1px solid #000000;">Year</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">Alyssa Barraclough</td>
<td style="border: 1px solid #000000;">Target Outdoor</td>
<td style="border: 1px solid #000000;">U16 Recurve</td>
<td style="border: 1px solid #000000;">2017</td>
</tr>
<tr style="border: 1px solid #000000;">
<td rowspan="2" style="border: 1px solid #000000;">Ruby Hancock</td>
<td style="border: 1px solid #000000;">Target Indoor</td>
<td style="border: 1px solid #000000;">U18 Recurve</td>
<td style="border: 1px solid #000000;">2007</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">Target Outdoor</td>
<td style="border: 1px solid #000000;">U16 Recurve</td>
<td style="border: 1px solid #000000;">2007</td>
</tr>
<tr style="border: 1px solid #000000;">
<td rowspan="5" style="border: 1px solid #000000;">Amy Oliver</td>
<td style="border: 1px solid #000000;">Target Indoor</td>
<td style="border: 1px solid #000000;">Senior Recurve</td>
<td style="border: 1px solid #000000;">2015</td>
</tr>
<tr style="border: 1px solid #000000;">
<td rowspan="3" style="border: 1px solid #000000;">Target Outdoor</td>
<td rowspan="3" style="border: 1px solid #000000;">Senior Recurve</td>
<td style="border: 1px solid #000000;">2007</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">2008</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">2009</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">Field</td>
<td style="border: 1px solid #000000;">Senior Recurve</td>
<td style="border: 1px solid #000000;">2015</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">Lynda Oliver</td>
<td style="border: 1px solid #000000;">Target Outdoor</td>
<td style="border: 1px solid #000000;">Senior Compound</td>
<td style="border: 1px solid #000000;">2009</td>
</tr>
<tr style="border: 1px solid #000000;">
<td rowspan="3" style="border: 1px solid #000000;">Megan Tinker</td>
<td style="border: 1px solid #000000;">Target Indoor</td>
<td style="border: 1px solid #000000;">U18 Recurve</td>
<td style="border: 1px solid #000000;">2015</td>
</tr>
<tr style="border: 1px solid #000000;">
<td rowspan="2" style="border: 1px solid #000000;">Field</td>
<td style="border: 1px solid #000000;">U18 Red Peg</td>
<td style="border: 1px solid #000000;">2015</td>
</tr>
<tr style="border: 1px solid #000000;">
<td style="border: 1px solid #000000;">&nbsp;</td>
<td style="border: 1px solid #000000;">2017</td>
</tr>
<tr style="border: 1px solid #000000;">
<td colspan="4"><strong>NCAS Team Champions</strong></td>
</tr>
<tr>
<td style="border: 1px solid #000000;">Title</td>
<td style="border: 1px solid #000000;">Year</td>
<td style="border: 1px solid #000000;">Members</td>
<td>&nbsp;</td>
</tr>
<tr>
<td rowspan="2" style="border: 1px solid #000000;">Indoor</td>
<td style="border: 1px solid #000000;">2007</td>
<td style="border: 1px solid #000000;">
<p>John Yates</p>
<p>Mick Hill</p>
<p>Frank Mullins</p>
<p>Carl Gray</p>
</td>
<td rowspan="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="border: 1px solid #000000;">2015</td>
<td style="border: 1px solid #000000;">
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
<p>Megan Tinker</p>
<p>Carl Gray</p>
</td>
</tr>
<tr>
<td rowspan="3" style="border: 1px solid #000000;">Outdoor</td>
<td style="border: 1px solid #000000;">2007</td>
<td style="border: 1px solid #000000;">
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
<p>Mick Winsett</p>
<p>Jane Brenchley</p>
</td>
</tr>
<tr>
<td style="border: 1px solid #000000;">2008</td>
<td style="border: 1px solid #000000;">
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
</td>
</tr>
<tr>
<td style="border: 1px solid #000000;">2009</td>
<td style="border: 1px solid #000000;">
<p>Amy Oliver</p>
<p>Michelle Kiddy</p>
<p>Donald Youngs</p>
<p>Frank Mullins</p>
</td>
</tr>
<tr>
<td style="border: 1px solid #000000;">NCAS Field</td>
<td style="border: 1px solid #000000;">2015</td>
<td style="border: 1px solid #000000;">
<p>Amy Oliver</p>
<p>John Yates</p>
<p>Mark Tinker</p>
</td>
</tr>
</tbody>
</table>
