<table>
    <tr>
      <th>Archer</th>
      <th>Event</th>
      <th>Year</th>
    </tr>
    <tr>
      <td rowspan="7">Joyce Kiddy</td>
      <td rowspan="4">World Field Championships</td>
      <td>1969</td>
    </tr>
    <tr>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="3">European Championships</td>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="4">Maureen Smith</td>
      <td rowspan="2">World Field Championships</td>
      <td>1976</td>
    </tr>
    <tr>
      <td>1978</td>
    </tr>
    <tr>
      <td rowspan="2">European Field Championships</td>
      <td>1976</td>
    </tr>
    <tr>
      <td>1978</td>
    </tr>
    <tr>
      <td>Lynda Oliver</td>
      <td>World Field Championships</td>
      <td>1994</td>
    </tr>
    <tr>
      <td rowspan="20">Amy Oliver</td>
      <td rowspan="4">World Field Championships</td>
      <td>2006</td>
    </tr>
    <tr>
      <td>2008</td>
    </tr>
    <tr>
      <td>2010</td>
    </tr>
    <tr>
      <td>2016</td>
    </tr>
    <tr>
      <td rowspan="3">European Field Championships</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>2009</td>
    </tr>
    <tr>
      <td>2017</td>
    </tr>
    <tr>
      <td>World Games</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>Commonwealth Games</td>
      <td>2010</td>
    </tr>
    <tr>
      <td>Olympic Games</td>
      <td>2012</td>
    </tr>
    <tr>
      <td rowspan="10">Target Archery World Cup</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>2008</td>
    </tr>
    <tr>
      <td>2009</td>
    </tr>
    <tr>
      <td>2010</td>
    </tr>
    <tr>
      <td>2011</td>
    </tr>
    <tr>
      <td>2012</td>
    </tr>
    <tr>
      <td>2013</td>
    </tr>
    <tr>
      <td>2014</td>
    </tr>
    <tr>
      <td>2015</td>
    </tr>
    <tr>
      <td>2016</td>
    </tr>
    <tr>
      <td rowspan="6">Michelle Kiddy</td>
      <td rowspan="2">World Field Championships</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>2008</td>
    </tr>
    <tr>
      <td rowspan="4">European Field Championships</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>2008</td>
    </tr>
    <tr>
      <td>2011</td>
    </tr>
    <tr>
      <td>2017</td>
    </tr>
    <tr>
      <td rowspan="3">Megan Tinker</td>
      <td>World Field Championships</td>
      <td>2018</td>
    </tr>
    <tr>
      <td rowspan="2">European Field Championships</td>
      <td>2017</td>
    </tr>
    <tr>
      <td>2019</td>
    </tr>
    <tr>
      <td rowspan="10">Albert Kiddy</td>
      <td rowspan="5">World Field Championships</td>
      <td>1969</td>
    </tr>
    <tr>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td>1976</td>
    </tr>
    <tr>
      <td rowspan="5">European Field Championships</td>
      <%# 1970 Twice?? %>
      <td>1970</td>
    </tr>
    <tr>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1976</td>
    </tr>
    <tr>
      <td>1980</td>
    </tr>
    <tr>
      <td rowspan="7">Derek Gunson</td>
      <td rowspan="4">World Field Championships</td>
      <td>1969</td>
    </tr>
    <tr>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="3">European Field Championships</td>
      <td>1970</td>
    </tr>
    <tr>
      <td>1972</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="4">John Seddon</td>
      <td rowspan="2">World Field Championships</td>
      <td>1970</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="2">European Field Championships</td>
      <td>1970</td>
    </tr>
    <tr>
      <td>1974</td>
    </tr>
    <tr>
      <td rowspan="6">Barry Senior</td>
      <td rowspan="3">World Field Championships</td>
      <td>1976</td>
    </tr>
      <td>1978</td>
    </tr>
    <tr>
      <td>1980</td>
    </tr>
    <tr>
      <td rowspan="3">European Field Championships</td>
      <td>1976</td>
    </tr>
    </tr>
      <td>1978</td>
    </tr>
    <tr>
      <td>1980</td>
    </tr>
  </table>
